<div class="list">
    {{#each beers}}
        <div class="card"> 
            <h3>{{this.name}}</h3>
                <div class="">
                    <img src="{{this.image_url}}">
                </div>
            <h4 class="tag">{{this.tagline}}</h4>
            <p>{{this.description}}</p>
        </div>
    {{/each}}
</div>
