<div class="index">
    <img src="/images/beer.png" alt="beer picture">

    <div class="index-buttons">
        <a class="home-buttons" href="/beers">Check the Beers!</a>
        <a class="home-buttons" href="/random-beer">Check a Random Beer!</a>
    </div>
</div>
