a {
    text-decoration: none;
    color: #f7f9f9;
    background-color: #2081c3;
    padding: 20px;
}

body {
    background-color: #f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #0a2c42;
    color: #f7f9f9;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

img {
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    background-color: #2081c3;
    text-decoration: none;
    color: #f7f9f9;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.card {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px;
    height: 300px;
    width: 200px;
    overflow: auto;
}

.home-buttons {
    border-radius: 5px;
    box-shadow: 5px 5px 7px 0px #bfbfbf;
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index img {
    padding: 100px 0px 50px 0px;
    height: 300px;
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

.rand-beer-info {
    padding: 80px 200px 0px 0px;
    height: 100%
}

.random {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.random img {
    height: 300px;
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 50px;
}

.tag {
    color: #bfbfbf;
}